{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <br>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="dashboard-template-header">
                <div class="dashboard-template-image">
                    <i class="fas fa-cog"></i>
                </div>
            
                <div class="dashboard-template-title">
                    Settings
                </div>
            </div>

            <ul class="nav nav-tabs">
				{% if session['userrole'] == 'admin' %}
                	<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#dash_conf">General Configuration</a></li>
                	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#groups_conf">Groups Configuration</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
                {% if session['userrole'] == 'admin' %}
					<div class="tab-pane fade show active" id=dash_conf>
						<br>
						<p class="text-success">Last update at: {{ tosca_settings.updated_at }}</p>
						<form id="settingsform" action="{{ url_for('home_bp.submit_settings')}}" method="post">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
							<fieldset>
								<br>
								<div class="dashboard-text"><h5>TOSCA templates</h5></div>
								<p class="text-muted">the repo containing the folder "tosca-templates"</p>
								<p class="text-success">Current settings:
									{% if tosca_settings.tosca_templates_url %}
										{{ tosca_settings.tosca_templates_url }} (branch/tag: {{ tosca_settings.tosca_templates_tag_or_branch }})
									{% else %} Not Available{% endif %}
								</p>
								<div class="form-row">
									<div class="form-group col">
										<label for="tosca_templates_url">Repository URL</label>
										<input type="url" class="form-control" id="tosca_templates_url" name="tosca_templates_url">
									</div>

									<div class="form-group col">
										<label for="tosca_templates_tag_or_branch">Tag/Branch (optional)</label>
										<input type="text" class="form-control" id="tosca_templates_tag_or_branch" name="tosca_templates_tag_or_branch">
									</div>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="tosca_templates_private" name="tosca_templates_private">
									<label class="form-check-label" for="tosca_templates_private">Private Repository</label>
								</div>
								<div class="form-row" id="privateRepoFields1" style="display: none;">
									<div class="form-group col">
										<label for="tosca_templates_username">Username</label>
										<input type="text" class="form-control" id="tosca_templates_username" name="tosca_templates_username">
									</div>
									<div class="form group col">
										<label for="tosca_templates_token">Token</label>
										<input type="password" class="form-control" id="tosca_templates_token" name="tosca_templates_token">
									</div>
								</div>
							</fieldset>
							<fieldset>
								<br><br>
								<div class="dashboard-text"><h5>Dashboard configuration</h5></div>
								<p class="text-muted">the repo containing the folders "tosca-parameters" and "tosca-metadata"</p>
								<p class="text-success">Metadata version:
									{% if tosca_version %}
										{{ tosca_version }}
									{% else %} Not Available{% endif %}
								</p>
								<p class="text-success">Current settings:
									{% if tosca_settings.dashboard_configuration_url %}
										{{ tosca_settings.dashboard_configuration_url }} (branch/tag: {{ tosca_settings.dashboard_configuration_tag_or_branch }})
									{% else %} Not Available{% endif %}</p>
								<div class="form-row">
									<div class="form-group col">
										<label for="dashboard_configuration_url">Repository URL</label>
										<input type="url" class="form-control" id="dashboard_configuration_url" name="dashboard_configuration_url">
									</div>

									<div class="form-group col">
										<label for="dashboard_configuration_tag_or_branch">Tag/Branch (optional)</label>
										<input type="text" class="form-control" id="dashboard_configuration_tag_or_branch" name="dashboard_configuration_tag_or_branch">
									</div>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="dashboard_configuration_private" name="dashboard_configuration_private">
									<label class="form-check-label" for="dashboard_configuration_private">Private Repository</label>
								</div>
								<div class="form-row" id="privateRepoFields2" style="display: none;">
									<div class="form-group col">
										<label for="dashboard_configuration_username">Username</label>
										<input type="text" class="form-control" id="dashboard_configuration_username" name="dashboard_configuration_username">
									</div>
									<div class="form group col">
										<label for="dashboard_configuration_token">Token</label>
										<input type="password" class="form-control" id="dashboard_configuration_token" name="dashboard_configuration_token">
									</div>
								</div>
							</fieldset>
							<fieldset>
								<br><br>
								<div class="dashboard-text"><h5>Notifications</h5></div>
								<div class="form-row">
									<div class="form-check m-2">
										<input type="checkbox" class="form-check-input" id="notify_admins" name="notify_admins" checked="checked">
										<label class="form-check-label" for="notify_admins">Notify admins</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label for="notify_email">CC to (optional)</label>
										<select class="js-settings-basic-multiple js-settings-tags form-control" id="notify_email" name="notify_email" multiple="multiple"></select>
									</div>
								</div>
								<div class="form-group">
									<label for="message">Comment (optional)</label>
									<textarea class="form-control" name="message" id="message" placeholder="Motivation for updating the dashboard settings." rows="3"></textarea>
								</div>
							</fieldset>
							<br>
							<div class="dashboard-template-buttons-container">
								<button type="submit" onclick="set_loading(true)" class="dashboard-button dashboard-button-primary dashboard-button-lg submitBtn" style="margin-left: auto;">Apply<i class="fas fa-save"></i></button>
							</div>
						</form>
					</div>
					<div class="tab-pane fade show" id=groups_conf>
						<br>
                        <div class="container mt-4">
                            <h3>User Groups</h3>
                            <ul id="groupList" class="list-group mb-3">
                                {% for group in groups %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ group }}
                                    <button class="btn btn-danger btn-sm" onclick="this.parentElement.remove()">Remove</button>
                                </li>
                                {% endfor %}
                            </ul>
							<div class="dashboard-template-buttons-container">
                                <button class="dashboard-button dashboard-button-primary dashboard-button-lg" onclick="showAddGroupModal();">Add Group</button>
                                <button class="dashboard-button dashboard-button-primary dashboard-button-lg submitBtn" onclick="saveGroupsList();" style="margin-left: auto;">Apply<i class="fas fa-save"></i></button>
                            </div>
                        </div>

                        <!-- Modal per aggiungere un elemento -->
                        <div class="modal fade" id="addGroupModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add Group</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" id="newGroup" class="form-control" placeholder="Group name">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" onclick="addGroup();">Add Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(() => {
    $("#tosca_templates_private").change(() => {
        $("#privateRepoFields1").toggle(this.checked);
    });

    $("#dashboard_configuration_private").change(() => {
        $("#privateRepoFields2").toggle(this.checked);
    });

    $('.js-settings-basic-multiple').select2({
      	width: '100%' // https://github.com/select2/select2/issues/4220
    });

    $(".js-settings-tags").select2({
		tags: true,
		tokenSeparators: [' '],
		width: '100%'
    });

});

$('#tableServices').dataTable( {
    "responsive": true,
    "order": [],
    "columnDefs": [ {
      "targets"  : 'no-sort',
      "orderable": false,
    }],
    "order": [[ 1, "asc" ]]
});

function showAddGroupModal() {
    $("#addGroupModal").modal("show");
};

function addGroup() {
    let newGroupText = document.getElementById("newGroup").value;
    if (newGroupText.trim() === "") return;

    let listItem = document.createElement("li");
    listItem.className = "list-group-item d-flex justify-content-between align-items-center";
    listItem.textContent = newGroupText;

    let removeButton = document.createElement("button");
    removeButton.className = "btn btn-danger btn-sm";
    removeButton.textContent = "Remove";
    removeButton.onclick = function () {
        listItem.remove();
    };

    listItem.appendChild(removeButton);
    document.getElementById("groupList").appendChild(listItem);
    document.getElementById("newGroup").value = "";

    $("#addGroupModal").modal("hide");
};

function saveGroupsList() {
    let groups = [];
    document.querySelectorAll("#groupList li").forEach(li => {
        groups.push(li.childNodes[0].textContent.trim());
    });
    set_loading(true);
    fetch("{{ url_for('home_bp.submit_settings_groups') }}", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'x-csrf-token': '{{csrf_token()}}',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ groups: groups })
    }).then(response => {
        if (response.redirected) {
            window.location.replace(response.url);
            return;
        }
    })
      .then(data => alert("Groups list saved!"))
      .catch(error => alert("Error saving groups list."));
};

</script>

{% endblock %}
