<div class="form-group" style="margin-top: 1em;">
	<div class="form-check form-check-inline">
		<input type="checkbox" class="form-check-input" id="providerTimeoutSet" name="extra_opts.providerTimeoutSet">
		<label class="form-check-label" style="white-space: nowrap;" for="providerTimeout">Set deployment creation timeout (minutes)&nbsp;&nbsp;</label>
		<input type="number" class="form-control" id="providerTimeout" name="extra_opts.providerTimeout" style="width: 6em; height: 30px" min="5" value="{% if provider_timeout is defined %}{{provider_timeout}}{% endif %}" disabled>
	</div>
	<div class="form-check"  style="margin-top: .5em;">
		<input type="checkbox" class="form-check-input" id="keepLastAttempt" name="extra_opts.keepLastAttempt" {% if keep_last_attempt is defined and keep_last_attempt == True%}checked="checked"{% endif %}>
		<label class="form-check-label" for="keepLastAttempt">Do not delete the deployment in case of failure</label>
	</div>
	<div class="form-check"  style="margin-top: .5em;">
		<input type="checkbox" class="form-check-input" id="sendEmailFeedback" name="extra_opts.sendEmailFeedback" {% if feedback_required is defined and feedback_required == True%}checked="checked"{% endif %}>
		<label class="form-check-label" for="sendEmailFeedback">Send a confirmation email when complete</label>
	</div>
</div>
