{% extends "base.html" %}

{% block content %}

<div class="container">
    <br>

	{% if config['FEATURE_VAULT_INTEGRATION']|str2bool and ssh_pub_key is none %}
		<!-- Modal -->
		<div class="modal fade" id="sshPopupModal" tabindex="-1" role="dialog" aria-labelledby="sshPopupModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="sshPopupModalLabel">No SSH public key provided</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>SSH keys allow you to establish a secure connection between your computer and your virtual machine.
							At least one public key has to be provided.</p>
						<br>
						<p>To create a new ssh key pair or upload your public key, please go <a href="{{ url_for("home_bp.show_user_profile") }}">here</a></p>
						{% if user_documentation_url is defined %}
						<p>For more information, please visit our <a href="{{ user_documentation_url }}"
								target="_blank">documentation site</a>.</p>
						{% endif %}
					</div>
					{% if require_ssh_pubkey=='no' %}
					<div class="d-flex flex-grow-1 justify-content-start custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="popupMaintenanceCheckbox"
							name="checkbox-maintenance" />
						<label class="custom-control-label checkbox-maintenance" for="popupMaintenanceCheckbox">Don't show me
							again</label>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}

    <div class="card shadow mb-4">
        <div class="card-body">
			<div class="dashboard-template-header">
				<div class="dashboard-template-title">
					Select
				</div>
				
				<div class="dashboard-template-step">
					Step&nbsp;1/4
				</div>
			</div>
			<form id="depSelect" action="{{ url_for('deployments_bp.select_scheduling') }}" method="get">
				{% for template in templates %}
					<div class="form-check">
						<input class="form-check-input" type="radio" id="choice{{loop.index}}" name="selected_tosca" value="{{ template['name'] }}" {% if loop.index==1 %}checked{% endif %}  >
						<label class="form-check-label" for="choice{{loop.index}}">{{ template['option'] }}</label>
					</div>
					{% if template['description'] %}
						<p>{{template['description'] | safe }}</p>
					{% endif %}
				{% endfor %}
				<br>
				<div class="dashboard-template-buttons-container">
					<button id="cancelBtn" type=button class="dashboard-button dashboard-button-lg dashboard-button-danger" title="Cancel" onclick="location.href='{{ url_for('home_bp.portfolio') }}'">
						Cancel&nbsp;<i class="fas fa-ban"></i>
					</button>

					<button type="submit" class="dashboard-button dashboard-button-lg dashboard-button-primary" title="Continue" onclick="set_loading(true)">
						Continue&nbsp;<i class="fas fa-arrow-right"></i>
					</button>
				</div>
			</form>
        </div>
    </div>
</div>

{% if config['FEATURE_VAULT_INTEGRATION']|str2bool and ssh_pub_key is none %}
<script type="text/javascript">
	if (!localStorage.DoNotShowMessageAgain || localStorage.DoNotShowMessageAgain != "true") {
		$(window).on('load', () => {
			$('#sshPopupModal').modal('show');
		});
	};

	$('#popupMaintenanceCheckbox').click(() => {
		if ($('#popupMaintenanceCheckbox').attr('checked', true)) {
			localStorage.DoNotShowMessageAgain = "true";
		}
	});
</script>
{% endif %}

{% endblock %}

