<!-- start tabs creation section -->
<ul class="nav nav-tabs">
{% set tabs=template['tabs'] %}
{% set inputs=template['inputs'] %}

{% if tabs|length == 0 %}
{% set tabs = ['Configuration'] %}
{% endif %}

	{% for tab in tabs %}
		{% if loop.first %}
		<li class="nav-item"><a class="nav-link active" data-toggle="tab" href=#{{tab}}>{{tab}}</a></li>
		{% else %}
		<li class="nav-item" id={{'tab_' + tab.replace(' ', '_').replace('-', '_').lower()}}><a class="nav-link" data-toggle="tab" href=#{{tab}}>{{tab}}</a></li>
		{% endif %}
	{% endfor %}

	{% if config['FEATURE_ADVANCED_MENU']|str2bool or session['userrole'] == 'admin' %}
		<li class="nav-item"><a class="nav-link" data-toggle="tab" href=#Advanced>Advanced</a></li> <!-- always create advanced tab -->
	{% endif %}
</ul>
  <!-- end tab creation section -->

<div class="tab-content">
  	<!-- inputs -->
    {% for tab in tabs %}
		{% if loop.first %}
			<div id={{tab}} class="tab-pane fade show active">
		{% else %}
			<div id={{tab}} class="tab-pane fade">
		{% endif %}

		<br>
		{% for key, value in inputs.items() %}
				{% if value.tab == tab or ( tab == tabs[0] and value.tab is not defined) %}
					{% include 'input_types.html' %}
				{% endif %}
		{% endfor %}
		</div>
    {% endfor %}
  	<!-- end inputs -->

  	<!-- scheduling -->
	<br>
	<div id="Advanced" class="tab-pane fade">
		{% include 'advanced_config.html' %}
	</div>
</div>

<!-- Input Customization -->
<script>
	/* 
		Kubernetes cluster with InterLink Virtual Node
		Hide tabs on input change
	*/
	$(document).ready(() => {
		let arch_type = $('#virtual_node_architecture')

		let tab_cluster = $('#tab_interlink_in_cluster')
		let tab_edge = $('#tab_interlink_edge')
		let tab_tuneled = $('#tab_interlink_tunneled')
		
		let inputs_cluster = $("#InterLink-In-Cluster").find("input, textarea, select")
		let inputs_edge = $("#InterLink-Edge").find("input, textarea, select")
		let inputs_tuneled = $("#InterLink-Tunneled").find("input, textarea, select")

		if (arch_type) {
			// tab_cluster not hidden by default because is the first selected value
			// tab_cluster?.hide();
			tab_edge?.hide();
			tab_tuneled?.hide();

			arch_type.on('change', () => {
				let selected = arch_type.val();

				tab_edge?.hide();
				tab_tuneled?.hide();
				tab_cluster?.hide();

				/* Show / hide tabs and clear all hidden inputs */
				if (selected === 'in-cluster-k8s') {					
					tab_cluster?.show();
					inputs_edge?.val("");
					inputs_tuneled?.val("");
				} else if (selected === 'edge') {
					tab_edge?.show();
					inputs_cluster?.val("");
					inputs_tuneled?.val("");
				} else if (selected === 'tunneled') {
					tab_tuneled?.show();
					inputs_cluster?.val("");
					inputs_edge?.val("");
				}
			})
		}
	})
</script>
