{% extends "base.html" %}
{% block content %}

<!-- Column indexes for FEATURE_HIDDEN_ADMIN_DEPLOYMENT_COLUMNS setting

    0 = uuid
    1 = description
    2 = status
    3 = user uuid
    4 = creation time
    5 = update time
    6 = endpoint
    7 = physical id (infrastructure id)
    8 = provider name
	9 = region_name
   10 = group name
    value must be comma separated (i.e.  "5, 6, 7")

    Empty string or missing setting means no hidden columns
-->

<div class="container-fluid">
	{% set ar = namespace(found=false) %}
  	<br>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="dashboard-template-header">
                <div class="dashboard-template-image">
                    <i class="fas fa-list-ul"></i>
                </div>
            
                <div class="dashboard-template-title">
                    {% if group %}
                        Deployments for group: {{group}}<br/>
                    {% else %}
                        Deployments full list
                    {% endif %}
                </div>
            
                <div class="dashboard-template-header-buttons">
                    {% if showback == 'True' %}
                    <button type="button" class="dashboard-button dashboard-button-outline-no-border" title="Back" onclick="set_loading(true); history.back()">
                        <i class="fas fa-arrow-left"></i>&nbsp;Back
                    </button>
                    {% endif %}
					<button type="button" class="dashboard-button dashboard-button-outline-no-border" title="Refresh" onclick='postMain();'>
						<i class="fas fa-sync-alt"></i>&nbsp;Refresh
					</button>
					<button type="button" class="dashboard-button dashboard-button-small dashboard-button-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
						<span class='fas fa-list mr-2'></span>Group&nbsp;
					</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:" onclick="processGroupSelect(''); return true;">
                            all
						</a>
						{% for user_group in groups%}
                            {% if user_group != "UNKNOWN" %}
                                <a class="dropdown-item" href="javascript:" onclick="processGroupSelect('{{user_group}}'); return true;">
                                    {{user_group}}
                                </a>
                            {% endif %}
						{% endfor %}
					</div>
                </div>
            </div>
            <form id="tableform" action="{{ url_for('deployments_bp.showalldeployments') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" id="showhdep" name="showhdep" value={{ showdepdel }}>
                <input type="hidden" id="showback" name="showback" value={{ showback }}>
                <input type="hidden" id="group" name="group" value={{ group }}>
            </form>
			<div class="table-responsive" style="overflow:inherit;">
				<table class="table table-bordered table-striped" id="tableAdminDeployments" width="100%" cellspacing="0">
					<!--Table head-->
					<thead>
						<tr>
							<th>Deployment identifier</th>
							<th>Description</th>
							<th>Status</th>
                            <th>User</th>
							<th>Creation time</th>
							<th>Update time</th>
							<th>Endpoint</th>
							<th>Physical Id</th>
							<th>Deployed at</th>
							<th>Region</th>
   						    <th>Group</th>
							<th style="width: 1%; white-space: nowrap;">Actions</th>
						</tr>
					</thead>
					<!--Table head-->
					
					<!--Table body-->
					<tbody>
						{% for deployment in deployments %}
							{% if "IN_PROGRESS" in deployment.status %}
								{% set ar.found = true %}
							{% endif %}

							<tr>
								<td><a href="{{ url_for('deployments_bp.depoutput', depid=deployment.uuid) }}">{{deployment.uuid}}</a></td>
								<td>{{deployment.description}}</td>
								<td>
                                    {% if "DELETE_COMPLETE" in deployment.status %}
                                        <span class="badge badge-info"/>
									{% elif "COMPLETE" in deployment.status %}
									    <span class="badge badge-success"/>
									{% elif "FAIL" in deployment.status %}
									    <span class="badge badge-danger"/>
									{% else %}
									    <span class="badge badge-warning text-white"><span class="spinner-grow spinner-grow-sm"/></span>
									{% endif %}
									{{deployment.status}}
								</td>
								<td><a href="{{ url_for('users_bp.show_user', subject=deployment.sub, ronly=True) }}">{{deployment.sub}}</a></td>
								<td>{{deployment.creation_time}}</td>
								<td>{{deployment.update_time}}</td>
								<td>{{deployment.endpoint}}</td>
								<td>{{deployment.physicalId}}</td>
								<td>{{deployment.provider_name}}</td>
								<td>{{deployment.region_name if deployment.region_name != None else ''}}</td>
                                <td>{{deployment.user_group}}</td>
								<td>
									<div class="btn-group">
										<!-- DETAILS -->
										<a class="btn btn-info btn-sm" href="{{ url_for('deployments_bp.depoutput', depid=deployment.uuid) }}" style="display: flex; align-items: center;">
											<span class="fas fa-bars mr-2 grey-text"></span>Details
										</a>
										<button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<div class="dropdown-menu">
											{% if 'CREATE_FAILED' in deployment.status %}
												<a class="dropdown-item" href="{{ url_for('deployments_bp.retrydep', depid=deployment.uuid) }}">
													<span class="fas fa-sync-alt mr-2 grey-text"></span>Retry
												</a>											
											{% endif %}
                                            {% if deployment.status != 'DELETE_COMPLETE' %}
											    <a class="dropdown-item" href="{{ url_for('deployments_bp.deptemplate', depid=deployment.uuid) }}"><span class="fas fa-search mr-2 grey-text"></span>Show template</a>
                                            {% endif %}
											{% if deployment.deployment_type == "CLOUD" %}
												<a class="dropdown-item {% if deployment.physicalId is not defined %}disabled{% endif %}" href="{{ url_for('deployments_bp.deplog', depid=deployment.uuid) }}">
													<span class="fas fa-file-alt mr-2 grey-text"></span>Log
												</a>
												{% if config['FEATURE_PORTS_REQUEST']|str2bool and (deployment.status == 'CREATE_COMPLETE' or deployment.status == 'UPDATE_COMPLETE') %}
													<!-- <a class="dropdown-item" data-toggle="modal" data-target="#requestPorts" data-id="{{ deployment.uuid }}" data-action="{{ url_for('deployments_bp.sendportsrequest') }}" >
														<span class="fas fa-ticket-alt mr-2 grey-text"></span>Request Ports
													</a> -->

													<a class="dropdown-item {% if deployment.physicalId is not defined %}disabled{% endif %}" href="{{ url_for('deployments_bp.security_groups', depid=deployment.uuid, depProvider=deployment.provider_name) }}">
														<span class="fas fa-shield-alt mr-2 grey-text"></span>Manage Ports
													</a>
												{% endif %}
												<a class="dropdown-item {% if deployment.physicalId is not defined %}disabled{% endif %}" href="{{ url_for('deployments_bp.depinfradetails', depid=deployment.uuid) }}">
                                                    {% if deployment.status != 'DELETE_COMPLETE' %}
													    <span class="fas fa-desktop mr-2 grey-text"></span>Manage Nodes
                                                    {% else %}
                                                        {% if deployment.status != 'CREATE_FAILED' %}
                                                            <span class="fas fa-desktop mr-2 grey-text"></span>View Nodes
                                                        {% endif %}
                                                    {% endif %}
												</a>
											{% endif %}

											{% if deployment.deployment_type == "QCG" %}
												<a class="dropdown-item {% if deployment.physicalId is not defined %}disabled{% endif %}" href="{{ url_for('deployments_bp.depqcgdetails', depid=deployment.uuid) }}">
													<span class="fas fa-bars mr-2 grey-text"></span>Job details
												</a>
											{% endif %}

											{% if deployment.locked == 0 %}
                                                {% if deployment.status == 'DELETE_IN_PROGRESS' %}
                                                    <a class="dropdown-item" href="{{ url_for('deployments_bp.depreset', depid=deployment.uuid, mode="all") }}">
                                                        <span class="fas fa-undo-alt mr-2"></span>Reset Status
                                                    </a>
                                                {% else %}
                                                    {% if deployment.status != 'DELETE_COMPLETE' %}
                                                        <a class="dropdown-item" style="color: red;" href="#delete_confirm_{{deployment.uuid}}" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#delete_confirm_{{deployment.uuid}}">
                                                            <span class="fas fa-trash-alt mr-2"></span>Delete
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
											{% else %}
                                                {% if deployment.status != 'DELETE_COMPLETE' %}
												    <a class="dropdown-item" href="{{ url_for('deployments_bp.unlockdeployment', depid=deployment.uuid) }}">
													    <span class="fas fa-lock-open mr-2"></span>Unlock
												    </a>
                                                {% endif %}
											{% endif %}
										</div>
									</div>
								</td>
							</tr>
							<!-- Modal DELETE -->
							<div class="modal fade" id="delete_confirm_{{deployment.uuid}}" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="delete_confirm_label_{{deployment.uuid}}">Confirm deployment deletion</h5>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											<p>Do you really want to delete the deployment {{deployment.uuid}} ?</p>
											<br>
											<div class="dashboard-template-buttons-container">
												<button data-dismiss="modal" class="dashboard-button dashboard-button-lg dashboard-button-primary-outline" title="Close modal">
													No, go back
												</button>
												<button role="button" onclick="set_loading(true); location.href='{{ url_for('deployments_bp.depdel', depid=deployment.uuid, mode="all") }}'" type=button class="dashboard-button dashboard-button-lg dashboard-button-danger" title="Delete deployment">
													<i class="fas fa-trash-alt"></i>&nbsp;Yes, delete
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</tbody>
					<!--Table body-->
				</table>
			</div>
    	</div>
    </div>
    <br><br>
    <!-- Modal REQUEST PORTS -->
    <div class="modal fade" id="requestPorts" tabindex="-1" role="dialog" aria-labelledby="requestPorts" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="listingModalLabel">Request Ports</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form id="requestform" action="#" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            <label for="username"><strong>User</strong></label>
                            <input type="text" class="form-control" name="username" id="username" value="{{ session['username'] }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="email"><strong>Mail</strong></label>
                            <input type="email" class="form-control" name="email" id="email" value="{{ session['useremail'] }}" data-toggle="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea required class="form-control" name="message" id="message" placeholder="Please, provide the list of ports to be opened." rows="3"></textarea>
                        </div>
                        <input type="hidden" name="deployment_uuid" value="">
                        <br>
                        <div class="dashboard-template-buttons-container">
                            <button data-dismiss="modal" type=button class="dashboard-button dashboard-button-lg dashboard-button-danger" title="Cancel">
								Cancel&nbsp;<i class="fas fa-ban"></i>
							</button>
        
                            <button type="submit" class="dashboard-button dashboard-button-lg dashboard-button-primary" title="Submit">
								Submit&nbsp;<i class="fas fa-share"></i>
							</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal EDIT DEPLOYMENT -->
    <div class="modal fade" id="editDeployment" tabindex="-1" role="dialog" aria-labelledby="editDeployment" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form id="editform" action="#" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            <label for="description"><strong>Description</strong></label>
                            <input type="text" class="form-control" maxlength="50" name="description" id="description" value="">
                        </div>
                        <input type="hidden" name="deployment_uuid" value="">
                        <br>
                        <div class="dashboard-template-buttons-container">
                            <button data-dismiss="modal" type=button class="dashboard-button dashboard-button-lg dashboard-button-danger" title="Cancel">
								Cancel&nbsp;<i class="fas fa-ban"></i>
							</button>
        
                            <button type="submit" class="dashboard-button dashboard-button-lg dashboard-button-primary" title="Save">
								Save&nbsp;<i class="fas fa-save"></i>
							</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if ar.found %}
	<script>setTimeout(function(){postMain();},30000);</script>
{% endif %}

<script>

$(document).ready(() => {
	$(".deleteBtn").click(() => {
		// add spinner to button
		$(this).parent().find(".cancelBtn").addClass("disabled", true);
		$(this).addClass("disabled", true);
		$(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...` );
	});
    $("#show_deleted_deployments").prop("checked", {% if  showdepdel == "True"%} true {% else %} false {% endif %})
});

$('#tableAdminDeployments').dataTable( {
    "stateSave": true,
    "stateSaveCallback": function (settings, data) {
        localStorage.setItem(
            'tableAdminDeployments_' + settings.sInstance,
            JSON.stringify(data)
        );
    },
    "stateLoadCallback": function (settings) {
        return JSON.parse(localStorage.getItem('tableAdminDeployments_' + settings.sInstance));
    },
	"responsive": true,
	"columnDefs": [
		{
			"targets"  : 'no-sort',
			"orderable": false,
		}
		{% if config['FEATURE_HIDDEN_ADMIN_DEPLOYMENT_COLUMNS'] %}
          ,{
				"targets": [{{config['FEATURE_HIDDEN_ADMIN_DEPLOYMENT_COLUMNS']}}],
				"visible": false,
			}
		{% endif %}
	]
    {% if config['FEATURE_HIDDEN_DEPLOYMENT_SORT_COLUMN'] %}
        , "order": [[{{config['FEATURE_HIDDEN_DEPLOYMENT_SORT_COLUMN']|safe}}]]
    {% else %}
      , "order": [[4, 'desc']]
    {% endif %}
	,'fnDrawCallback': function () {
		$('.dataTables_filter').each(function () {
            if ($('#show_deleted_deployments').length == 0) {
                $(this).prepend(
                    '<label><input type="checkbox" id="show_deleted_deployments" name="show_deleted_deployments"\
                id="show_deleted_deployments" \
                >&nbsp;Show deleted deployments</label>&nbsp;&nbsp;&nbsp;&nbsp;'
                );
                $('#show_deleted_deployments:checkbox').click(function () {
                    var checkbox = $(this);
                    processCBClick(checkbox);
                });
            }
		});
	}
});

function postMain() {

    $( "#tableform" ).submit();
    return true;
}

function processGroupSelect(group) {
    document.getElementById("group").value = group;
    postMain();
}

function processCBClick(control) {
    if (control.is(':checked')==true) {
        document.getElementById("showhdep").value = "True";
    } else {
        document.getElementById("showhdep").value = "False";
    }
    postMain();
}

$('#requestPorts').on('show.bs.modal', function (event) {
    let target = $(event.relatedTarget) // Button that triggered the modal
    // Extract info from data-* attributes
    let deployment = target.data('id')
    let url = target.data('action')

    let modal = $(this)
    modal.find('.modal-title').text('Request ports for deployment \"' + deployment + '\"')
    modal.find('input[name="deployment_uuid"]').val(deployment)
    modal.find('#requestform').prop('action', url)
})

$('#editDeployment').on('show.bs.modal', function (event) {
    let target = $(event.relatedTarget) // Button that triggered the modal
    // Extract info from data-* attributes
    let deployment = target.data('id')
    let description = target.data('description')
    let url = target.data('action')

    let modal = $(this)
    modal.find('.modal-title').text('Edit deployment \"' + deployment + '\"')
    modal.find('input[name="deployment_uuid"]').val(deployment)
    modal.find('input[name="description"]').val(description)
    modal.find('#editform').prop('action', url)
})

</script>

{% endblock %}

