{% extends "base.html" %}
{% block content %}
    <!-- depoverview.html -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
<style>
    .chart-container {
      width: 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }

    canvas {
      width: 100% !important;
      height: auto !important;
    }

	.legend {
	  margin-top: 10px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;.
	}

	.legend-item {
	  display: flex;
	  align-items: center;
	  margin-bottom: 5px;
	  text-align: center;
	}

    .legend-color-box {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
</style>
<div class="container-fluid">
	{% set ar = namespace(found=false) %}
  	<br>
    <div class="card shadow mb-4">    
        <div class="card-body">
            <div class="dashboard-template-header">
                <div class="dashboard-template-image">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <div class="dashboard-template-title">
                    Deployments Overview
                    <br/>
                </div>
                <div class="dashboard-template-header-buttons">

					<button type="button" id="refreshbutton" class="dashboard-button dashboard-button-outline-no-border" onclick='postMain();'>
						<i class="fas fa-sync-alt"></i>&nbsp;Refresh
					</button>
                    &nbsp;
                    <!-- Status selector -->
                    <div class="dropdown">
                        <button type="button" id="statusbutton" class="dashboard-button dashboard-button-small dashboard-button-primary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class='fas fa-list mr-2'></span>Status&nbsp;
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input multi-check-status" value="all" data-exclusive="true"
                                     {% if not selected_status or 'all' in selected_status %}checked{% endif %}>
                                    all
                                </label>
                            </div>
                            <div class="dropdown-item">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input multi-check-status" value="actives" data-exclusive="true"
                                        {% if not selected_status or 'actives' in selected_status %}checked{% endif %}>
                                    actives
                                </label>
                            </div>
                            {% for deployment_status in status_labels %}
                            <div class="dropdown-item">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input multi-check-status"
                                         value="{{ deployment_status }}"
                                         {% if deployment_status in selected_status %}checked{% endif %}>
                                    {{ deployment_status }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    &nbsp;
                    <!-- Group selector -->
                    <div class="dropdown">
                        <button type="button" id="groupbutton" class="dashboard-button dashboard-button-small dashboard-button-primary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class='fas fa-list mr-2'></span>Group&nbsp;
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input multi-check-group" value="all" data-exclusive="true"
                                     {% if not selected_group or 'all' in selected_group %}checked{% endif %}>
                                    all
                                </label>
                            </div>
                            {% for user_group in groups_labels %}
                                <div class="dropdown-item">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input multi-check-group"
                                             value="{{ user_group }}"
                                             {% if user_group in selected_group %}checked{% endif %}>
                                        {{ user_group }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    &nbsp;
                    <!-- Provider selector -->
                    <div class="dropdown">
                        <button type="button" id="providerbutton" class="dashboard-button dashboard-button-small dashboard-button-primary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class='fas fa-list mr-2'></span>Provider&nbsp;
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input multi-check-provider" value="all" data-exclusive="true"
                                     {% if not selected_provider or 'all' in selected_provider %}checked{% endif %}>
                                    all
                                </label>
                            </div>
                            {% for user_provider in providers_labels %}
                                <div class="dropdown-item">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input multi-check-provider"
                                             value="{{ user_provider }}"
                                             {% if user_provider in selected_provider %}checked{% endif %}>
                                        {{ user_provider }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    &nbsp;
                </div>
            </div>
            <form id="tableform" action="{{ url_for('deployments_bp.showdeploymentsoverview') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" id="selected_group" name="selected_group" value={{ selected_group | safe}}>
                <input type="hidden" id="selected_provider" name="selected_provider" value={{ selected_provider | safe}}>
                <input type="hidden" id="selected_status" name="selected_status" value={{ selected_status | safe}}>
            </form>
            <div class="container my-4">
                <div id="no-data-message"
                     style="display:none; text-align: center; font-size: 2rem; font-weight: bold; color: #888; padding: 2rem;">
                  <i class="fas fa-database-slash" style="font-size: 3rem; color: #ccc;"></i><br/>
                  NO DEPLOYMENTS FOR CURRENT SELECTION
                </div>
                <div id="chartsRow" class="row text-center"></div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<script>

function postMain() {
    $( "#tableform" ).submit();
    return true;
}

function updateSelectedItems(name, dopost) {
  const selected = [];
  $('.multi-check-'+name+':checked').each(function () {
    selected.push($(this).val());
  });
  $('#selected_'+name).val(JSON.stringify(selected));
  if (dopost) {
      postMain();
  }
}

function UpdateMultiCheck(obj, name) {
    const isExclusive = $(obj).data('exclusive') === true || $(obj).data('exclusive') === "true";
    if (isExclusive && obj.checked) {
      $('.multi-check-'+name).not(obj).prop('checked', false);
    } else if (obj.checked) {
      $('.multi-check-'+ name+'[data-exclusive="true"]').prop('checked', false);
    }
    updateSelectedItems(name, true);
}

$(document).ready(function () {
  $('.multi-check-status').on('change', function () {
   UpdateMultiCheck(this, 'status');
  });
  $('.multi-check-group').on('change', function () {
   UpdateMultiCheck(this, 'group');
  });
  $('.multi-check-provider').on('change', function () {
   UpdateMultiCheck(this, 'provider');
  });

  // Inizializza selezioni
  updateSelectedItems('status', false);
  updateSelectedItems('group', false);
  updateSelectedItems('provider', false);
});


let validChartCount = 0;

function drawchart(chartidx, title, subtitle, labels, values, colors, maxitems) {
  var chartsRow = document.getElementById('chartsRow');
  var col = document.createElement('div');
  col.className = 'col-md-4 mb-4';

  var chartId = `chart${chartidx}`;
  var legendId = `legend${chartidx}`;

  col.innerHTML = `
    <div class="chart-container">
      <canvas id="${chartId}"></canvas>
    </div>
    <div id="${legendId}" class="legend"></div>
  `;

  chartsRow.appendChild(col);
  var displayValues;
  var displayLabels;
  var displayColors;

  if (maxitems > 0 && maxitems < values.length) {

      var sorted = labels.map((label, i) => ({
          label,
          value: values[i],
          color: colors[i]
      })).sort((a, b) => b.value - a.value);

      var displayed = sorted.slice(0, maxitems);
      var others = sorted.slice(maxitems);

      if (others.length > 0) {
          var othersValue = others.reduce((sum, item) => sum + item.value, 0);
          displayed.push({
              label: 'Others',
              value: othersValue,
              color: sorted[sorted.length - 1].color
          });
      }

      displayLabels = displayed.map(item => item.label);
      displayValues = displayed.map(item => item.value);
      displayColors = displayed.map(item => item.color);
  } else {
      displayLabels = labels.map(item => item);
      displayValues = values.map(item => item);
      displayColors = colors.map(item => item);
  }


  var chart = new Chart(document.getElementById(chartId).getContext("2d"), {
    type: 'pie',
    data: {
      labels: displayLabels,
      datasets: [{
        data: displayValues,
        backgroundColor: displayColors,
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: title ,
          font: {
            size: 18
          },
          color: "#162D4D",
          padding : {
            bottom: 8
          }
        },
        subtitle: {
          display: true,
          text: subtitle,
          color: '#162D4D80',
          padding : {
            bottom: 8
          }
        },
        legend: {
          display: false
        },
        tooltip: {
          callbacks: {
            label: (context) => `${context.label}: ${context.formattedValue}`
          }
        }
      }
      /*,
      onClick: (evt, activeEls) => {
        if (activeEls.length > 0) {
          const idx = activeEls[0].index;
          const label = displayLabels[idx];
          const value = displayValues[idx];
        }
      }*/
    }
  });

  const legendContainer = document.getElementById(legendId);
  displayLabels.forEach((label, i) => {
    const item = document.createElement('div');
    item.className = 'legend-item';

    const colorBox = document.createElement('div');
    colorBox.className = 'legend-color-box';
    colorBox.style.backgroundColor = displayColors[i];

    const text = document.createElement('span');
    text.textContent = `${label}: ${displayValues[i]}`;
    text.style = "font-size:small";

    item.appendChild(colorBox);
    item.appendChild(text);
    legendContainer.appendChild(item);
  });

  if (values.length > 0) {
      validChartCount++;
  }

}

window.onload = function() {

    drawchart("status_chart",
        "{{s_title}}",
        "deployments distribution per status",
        {{s_labels | safe}},
        {{s_values}},
        {{s_colors | safe}},
        {{s_maxvalues}}
    );

    drawchart("projects_chart",
        "{{p_title}}",
        "deployments distribution per group",
        {{p_labels | safe}},
        {{p_values}},
        {{p_colors | safe}},
        {{s_maxvalues}}
    );

    drawchart("providers_chart",
        "{{pr_title}}",
        "deployments distribution per provider",
        {{pr_labels | safe}},
        {{pr_values}},
        {{pr_colors | safe}},
        {{s_maxvalues}}
    );

    const message = document.getElementById("no-data-message");
    message.style.display = validChartCount === 0 ? "block" : "none";
    const chart = document.getElementById("chartsRow");
    chart.style.display = validChartCount === 0 ? "none" : "flex";
}

</script>

{% if ar.found %}
	<script>setTimeout(function(){postMain();},30000);</script>
{% endif %}

{% endblock %}

