{% extends "base.html" %}
{% block content %}
    <!-- depoverview.html -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
<style>
    .chart-container {
      width: 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }

    canvas {
      width: 100% !important;
      height: auto !important;
    }

	.legend {
	  margin-top: 10px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;.
	}

	.legend-item {
	  display: flex;
	  align-items: center;
	  margin-bottom: 5px;
	  text-align: center;
	}

    .legend-color-box {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
</style>
<div class="container-fluid">
	{% set ar = namespace(found=false) %}
  	<br>
    <div class="card shadow mb-4">    
        <div class="card-body">
            <div class="dashboard-template-header">
                <div class="dashboard-template-image">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <div class="dashboard-template-title">
                    Deployments Overview
                    <br/>
                </div>
                <div class="dashboard-template-header-buttons">

					<button type="button" id="refreshbutton" class="dashboard-button dashboard-button-outline-no-border" onclick='postMain();'>
						<i class="fas fa-sync-alt"></i>&nbsp;Refresh
					</button>
                    &nbsp;
                    {% include "dep_query_selector.html" %}
                </div>
            </div>
            <form id="tableform" action="{{ url_for('deployments_bp.showdeploymentsoverview') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" id="selected_group" name="selected_group" value={{ selected_group | safe}}>
                <input type="hidden" id="selected_provider" name="selected_provider" value={{ selected_provider | safe}}>
                <input type="hidden" id="selected_status" name="selected_status" value={{ selected_status | safe}}>
            </form>
            <div class="container my-4">
                <div id="no-data-message"
                     style="display:none; text-align: center; font-size: 2rem; font-weight: bold; color: #888; padding: 2rem;">
                  <i class="fas fa-database-slash" style="font-size: 3rem; color: #ccc;"></i><br/>
                  NO DEPLOYMENTS FOR CURRENT SELECTION
                </div>
                <div id="chartsRow" class="row text-center"></div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<script src="/static/home/js/dep_query_selector.js"></script>

<script>

function postMain() {
    $( "#tableform" ).submit();
    return true;
}

$(document).ready(function () {
  initializeMultiCheck();
});

let validChartCount = 0;

function drawchart(chartidx, title, subtitle, labels, values, colors, maxitems) {
  var chartsRow = document.getElementById('chartsRow');
  var col = document.createElement('div');
  col.className = 'col-md-4 mb-4';

  var chartId = `chart${chartidx}`;
  var legendId = `legend${chartidx}`;

  col.innerHTML = `
    <div class="chart-container">
      <canvas id="${chartId}"></canvas>
    </div>
    <div id="${legendId}" class="legend"></div>
  `;

  chartsRow.appendChild(col);
  var displayValues;
  var displayLabels;
  var displayColors;

  if (maxitems > 0 && maxitems < values.length) {

      var sorted = labels.map((label, i) => ({
          label,
          value: values[i],
          color: colors[i]
      })).sort((a, b) => b.value - a.value);

      var displayed = sorted.slice(0, maxitems);
      var others = sorted.slice(maxitems);

      if (others.length > 0) {
          var othersValue = others.reduce((sum, item) => sum + item.value, 0);
          displayed.push({
              label: 'Others',
              value: othersValue,
              color: sorted[sorted.length - 1].color
          });
      }

      displayLabels = displayed.map(item => item.label);
      displayValues = displayed.map(item => item.value);
      displayColors = displayed.map(item => item.color);
  } else {
      displayLabels = labels.map(item => item);
      displayValues = values.map(item => item);
      displayColors = colors.map(item => item);
  }


  var chart = new Chart(document.getElementById(chartId).getContext("2d"), {
    type: 'pie',
    data: {
      labels: displayLabels,
      datasets: [{
        data: displayValues,
        backgroundColor: displayColors,
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: title ,
          font: {
            size: 18
          },
          color: "#162D4D",
          padding : {
            bottom: 8
          }
        },
        subtitle: {
          display: true,
          text: subtitle,
          color: '#162D4D80',
          padding : {
            bottom: 8
          }
        },
        legend: {
          display: false
        },
        tooltip: {
          callbacks: {
            label: (context) => `${context.label}: ${context.formattedValue}`
          }
        }
      }
      /*,
      onClick: (evt, activeEls) => {
        if (activeEls.length > 0) {
          const idx = activeEls[0].index;
          const label = displayLabels[idx];
          const value = displayValues[idx];
        }
      }*/
    }
  });

  const legendContainer = document.getElementById(legendId);
  displayLabels.forEach((label, i) => {
    const item = document.createElement('div');
    item.className = 'legend-item';

    const colorBox = document.createElement('div');
    colorBox.className = 'legend-color-box';
    colorBox.style.backgroundColor = displayColors[i];

    const text = document.createElement('span');
    text.textContent = `${label}: ${displayValues[i]}`;
    text.style = "font-size:small";

    item.appendChild(colorBox);
    item.appendChild(text);
    legendContainer.appendChild(item);
  });

  if (values.length > 0) {
      validChartCount++;
  }

}

window.onload = function() {

    drawchart("status_chart",
        "{{s_title}}",
        "deployments distribution per status",
        {{s_labels | safe}},
        {{s_values}},
        {{s_colors | safe}},
        {{s_maxvalues}}
    );

    drawchart("projects_chart",
        "{{p_title}}",
        "deployments distribution per group",
        {{p_labels | safe}},
        {{p_values}},
        {{p_colors | safe}},
        {{s_maxvalues}}
    );

    drawchart("providers_chart",
        "{{pr_title}}",
        "deployments distribution per provider",
        {{pr_labels | safe}},
        {{pr_values}},
        {{pr_colors | safe}},
        {{s_maxvalues}}
    );

    const message = document.getElementById("no-data-message");
    message.style.display = validChartCount === 0 ? "block" : "none";
    const chart = document.getElementById("chartsRow");
    chart.style.display = validChartCount === 0 ? "none" : "flex";
}

</script>

{% if ar.found %}
	<script>setTimeout(function(){postMain();},30000);</script>
{% endif %}

{% endblock %}

