{% extends "base.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
<style>
    .chart-container {
      width: 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }

    canvas {
      width: 100% !important;
      height: auto !important;
    }

	.legend {
	  margin-top: 10px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;.
	}

	.legend-item {
	  display: flex;
	  align-items: center;
	  margin-bottom: 5px;
	  text-align: center;
	}

    .legend-color-box {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
</style>
<div class="container-fluid">
	{% set ar = namespace(found=false) %}
  	<br>
    <div class="card shadow mb-4">    
        <div class="card-body">
            <div class="dashboard-template-header">
                <div class="dashboard-template-image">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <div class="dashboard-template-title">
                    Deployments Overview
                    <br/>
                </div>
                <div class="dashboard-template-header-buttons">

					<button type="button" id="refreshbutton" class="dashboard-button dashboard-button-outline-no-border" onclick='postMain();'>
						<i class="fas fa-sync-alt"></i>&nbsp;Refresh
					</button>
                    &nbsp;
                    <div>
                        <button type="button" id="statusbutton" class="dashboard-button dashboard-button-small dashboard-button-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            <span class='fas fa-list mr-2'></span>Status&nbsp;
                        </button>
                        <div class="dropdown-menu">
                            <a class={% if not selected_status or selected_status == 'all' %}"dropdown-item active"{% else %}"dropdown-item"{% endif %} href="javascript:;" onclick="processStatusSelect('all'); return true;">
                                all
                            </a>
                            <a class={% if selected_status == 'actives' %}"dropdown-item active"{% else %}"dropdown-item"{% endif %} href="javascript:;" onclick="processStatusSelect('actives'); return true;">
                                actives
                            </a>
                            {% for deployment_status in status_labels %}
                                <a class={% if selected_status == deployment_status %}"dropdown-item active"{% else %}"dropdown-item"{% endif %} href="javascript:;" onclick="processStatusSelect('{{deployment_status}}'); return true;">
                                    {{deployment_status}}
                                </a>
                            {% endfor %}
                        </div>
                    </div>&nbsp;
                    <div>
                        <button type="button" id="groupbutton" class="dashboard-button dashboard-button-small dashboard-button-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            <span class='fas fa-list mr-2'></span>Group&nbsp;
                        </button>
                        <div class="dropdown-menu">
                            <a class={% if not group or group == '' %}"dropdown-item active"{% else %}"dropdown-item"{% endif %} href="javascript:;" onclick="processGroupSelect(''); return true;">
                                all
                            </a>
                            {% for user_group in groups_labels %}
                                {% if user_group != "UNKNOWN" %}
                                    <a class={% if group == user_group %}"dropdown-item active"{% else %}"dropdown-item"{% endif %} href="javascript:;" onclick="processGroupSelect('{{user_group}}'); return true;">
                                        {{user_group}}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>&nbsp;
                    <div>
                        <button type="button" id="providerbutton" class="dashboard-button dashboard-button-small dashboard-button-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            <span class='fas fa-list mr-2'></span>Provider&nbsp;
                        </button>
                        <div class="dropdown-menu">
                            <a class={% if not provider or provider == '' %}"dropdown-item active"{% else %}"dropdown-item"{% endif %} href="javascript:;" onclick="processProviderSelect(''); return true;">
                                all
                            </a>
                            {% for user_provider in providers_labels %}
                                {% if user_provider != "UNKNOWN" %}
                                    <a class={% if provider == user_provider %}"dropdown-item active"{% else %}"dropdown-item"{% endif %} href="javascript:;" onclick="processProviderSelect('{{user_provider}}'); return true;">
                                        {{user_provider}}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    &nbsp;
                </div>
            </div>
            <div class="modal fade" id="barChartModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Template usage over time for:&nbsp;<span id="modalTitle"></span></h5>
                    </div>
                    <div class="modal-body">
                      <canvas id="barChart"></canvas>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>
            <form id="tableform" action="{{ url_for('deployments_bp.showdeploymentstats') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" id="group" name="group" value={{ group }}>
                <input type="hidden" id="provider" name="provider" value={{ provider }}>
                <input type="hidden" id="selected_status" name="selected_status" value={{ selected_status }}>
                <input type="hidden" id="selected_template" name="selected_template" value={{ selected_template }}>
            </form>
            <div class="container my-4">
                <div id="no-data-message"
                     style="display:none; text-align: center; font-size: 2rem; font-weight: bold; color: #888; padding: 2rem;">
                  <i class="fas fa-database-slash" style="font-size: 3rem; color: #ccc;"></i><br/>
                  NO DEPLOYMENTS FOR CURRENT SELECTION
                </div>
                <div id="chartsRow" class="row text-center"></div>

            </div>
            <br><br>
            <div class="row" id="uttitle">
                <div class="dashboard-template-image">
                    <i class="fas fa-file-invoice"></i>
                </div>
                <div class="dashboard-template-title">
                    Templates Usage
                    <br/>
                </div>
            </div>
            <div id="uttable">
                <!--Table-->
                <div class="table-responsive">
                <table id="tableStats" class="table table-bordered table-striped" width="100%" cellspacing="0">
                <!--Table head-->
                  <thead>
                    <tr>
                      <th>Template name</th>
                      <th>Instances</th>
                    </tr>
                  </thead>
                  <!--Table head-->
                  <!--Table body-->
                  <tbody>
                    {% for key, value in d_templates.items()%}
                        <tr>
                        {% if value > 0 %}
                            <td><button class="btn btn-link p-0" data-id="{{key}}">{{key}}</button></td>
                            <td><button class="btn btn-link p-0" data-value="{{key}}">{{value}}</button></td>
                        {% else %}
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                  </tbody>
                  <!--Table body-->
                </table>
                </div>
                <!--Table-->

            </div>
        </div>
    </div>
</div>

<script>



function postMain() {
    $( "#tableform" ).submit();
    return true;
}

function processStatusSelect(status) {
    document.getElementById("selected_status").value = status;
    postMain();
}

function processGroupSelect(group) {
    document.getElementById("group").value = group;
    postMain();
}

function processProviderSelect(provider) {
    document.getElementById("provider").value = provider;
    postMain();
}

$('#tableStats').dataTable( {
    "stateSave": true,
    "stateSaveCallback": function (settings, data) {
        localStorage.setItem(
            'tableStats_' + settings.sInstance,
            JSON.stringify(data)
        );
    },
    "stateLoadCallback": function (settings) {
        return JSON.parse(localStorage.getItem('tableStats_' + settings.sInstance));
    },
    "responsive": true,
    "columnDefs": [ {
      "targets"  : 'no-sort',
      "orderable": false,
    }],
    "order": [[ 1, "desc" ]]
});

let barChartInstance = null;

 $('#tableStats').on('click', 'button[data-value]', function () {
     const id = this.getAttribute('data-value');
     var group = document.getElementById("group").value;
     var selected_status = document.getElementById("selected_status").value;
     var provider = document.getElementById("provider").value;

     fetch("{{ url_for('deployments_bp.showdeploymentstats') }}", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'x-csrf-token': '{{csrf_token()}}',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id: id, group: group, provider: provider, selected_status: selected_status })
     })
     .then(res => res.json())
     .then(data => {
        if (data.error) {
          alert("Error: " + data.error);
          return;
        }

        var labels = data.labels;
        var values = data.values;
        document.getElementById("group").value = data.group;
        document.getElementById("selected_status").value = data.selected_status;
        document.getElementById("provider").value = data.provider;
        document.getElementById("modalTitle").textContent = id;
        const backgroundColors = labels.map((_, i) =>
            `hsl(${(i * 360) / labels.length}, 60%, 60%)`
        );

        if (barChartInstance) {
          barChartInstance.destroy();
        }

        const ctx = document.getElementById("barChart").getContext("2d");
        barChartInstance = new Chart(ctx, {
          type: "bar",
          data: {
            labels: labels,
            datasets: [{
              label: "Template usage per year-month",
              data: values,
              backgroundColor: backgroundColors
            }]
          },
          options: {
            responsive: true,
            scales: {
              y: {
                beginAtZero: true,
                ticks: {
                    stepSize: 1,
                    callback: function(value) {
                        return Number.isInteger(value) ? value : null;
                    }
                }
              }
            },
            plugins: {
                tooltip: {
                    callbacks: {
                      label: function(context) {
                        const label = context.label || '';
                        const value = context.raw;
                        return `${label}: ${value}`;
                      },
                      title: function (context) {
                        return "Year-Month";
                      }
                    }
                },
                legend: {
                          position: 'top',
                          labels: {
                              generateLabels: function (chart) {
                                  return chart.data.datasets.map((dataset, i) => ({
                                      text: dataset.label,
                                      fillStyle: 'transparent',
                                      strokeStyle: 'transparent',
                                      lineWidth: 0,
                                      hidden: !chart.isDatasetVisible(i),
                                      datasetIndex: i
                                  }));
                              }
                          }
                      }
                }
            }
        });

        const modal = new bootstrap.Modal(document.getElementById("barChartModal"));
        modal.show();
      });
  });

 $('#tableStats').on('click', 'button[data-id]', function () {
    const id = this.getAttribute('data-id');
    document.getElementById("selected_template").value = id;
    const form = document.getElementById("tableform");
    const url = "{{ url_for('deployments_bp.showalldeployments', showback=True) }}";
    form.action = url;
    form.submit();
  });

let validChartCount = 0;

function drawchart(chartidx, title, subtitle, labels, values, colors, maxitems) {
  var chartsRow = document.getElementById('chartsRow');
  var col = document.createElement('div');
  col.className = 'col-md-4 mb-4';

  var chartId = `chart${chartidx}`;
  var legendId = `legend${chartidx}`;

  col.innerHTML = `
    <div class="chart-container">
      <canvas id="${chartId}"></canvas>
    </div>
    <div id="${legendId}" class="legend"></div>
  `;

  chartsRow.appendChild(col);
  var displayValues;
  var displayLabels;
  var displayColors;

  if (maxitems > 0 && maxitems < values.length) {

      var sorted = labels.map((label, i) => ({
          label,
          value: values[i],
          color: colors[i]
      })).sort((a, b) => b.value - a.value);

      var displayed = sorted.slice(0, maxitems);
      var others = sorted.slice(maxitems);

      if (others.length > 0) {
          var othersValue = others.reduce((sum, item) => sum + item.value, 0);
          displayed.push({
              label: 'Others',
              value: othersValue,
              color: sorted[sorted.length - 1].color
          });
      }

      displayLabels = displayed.map(item => item.label);
      displayValues = displayed.map(item => item.value);
      displayColors = displayed.map(item => item.color);
  } else {
      displayLabels = labels.map(item => item);
      displayValues = values.map(item => item);
      displayColors = colors.map(item => item);
  }


  var chart = new Chart(document.getElementById(chartId).getContext("2d"), {
    type: 'pie',
    data: {
      labels: displayLabels,
      datasets: [{
        data: displayValues,
        backgroundColor: displayColors,
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: title ,
          font: {
            size: 18
          },
          color: "#162D4D",
          padding : {
            bottom: 8
          }
        },
        subtitle: {
          display: true,
          text: subtitle,
          color: '#162D4D80',
          padding : {
            bottom: 8
          }
        },
        legend: {
          display: false
        },
        tooltip: {
          callbacks: {
            label: (context) => `${context.label}: ${context.formattedValue}`
          }
        }
      }
      /*,
      onClick: (evt, activeEls) => {
        if (activeEls.length > 0) {
          const idx = activeEls[0].index;
          const label = displayLabels[idx];
          const value = displayValues[idx];
        }
      }*/
    }
  });

  const legendContainer = document.getElementById(legendId);
  displayLabels.forEach((label, i) => {
    const item = document.createElement('div');
    item.className = 'legend-item';

    const colorBox = document.createElement('div');
    colorBox.className = 'legend-color-box';
    colorBox.style.backgroundColor = displayColors[i];

    const text = document.createElement('span');
    text.textContent = `${label}: ${displayValues[i]}`;
    text.style = "font-size:small";

    item.appendChild(colorBox);
    item.appendChild(text);
    legendContainer.appendChild(item);
  });

  if (values.length > 0) {
      validChartCount++;
  }
}

window.onload = function() {

    drawchart("status_chart",
        "{{s_title}}",
        "deployments distribution per status",
        {{s_labels | safe}},
        {{s_values}},
        {{s_colors | safe}},
        {{s_maxvalues}}
    );

    drawchart("projects_chart",
        "{{p_title}}",
        "deployments distribution per group",
        {{p_labels | safe}},
        {{p_values}},
        {{p_colors | safe}},
        {{s_maxvalues}}
    );

    drawchart("providers_chart",
        "{{pr_title}}",
        "deployments distribution per provider",
        {{pr_labels | safe}},
        {{pr_values}},
        {{pr_colors | safe}},
        {{s_maxvalues}}
    );

    const message = document.getElementById("no-data-message");
    message.style.display = validChartCount === 0 ? "block" : "none";
    const chart = document.getElementById("chartsRow");
    chart.style.display = validChartCount === 0 ? "none" : "flex";
    const uttitle = document.getElementById("uttitle");
    uttitle.style.display = validChartCount === 0 ? "none" : "flex";
    const uttable = document.getElementById("uttable");
    uttable.style.display = validChartCount === 0 ? "none" : "block";
}

</script>

{% if ar.found %}
	<script>setTimeout(function(){postMain();},30000);</script>
{% endif %}

{% endblock %}

