{% extends "base.html" %}

{% block content %}

<div>
	<div class="imgElem" style="background-image: url(/static/home/images/intertwin/intertwin-logo.png);"></div>
	<h1 class="display-4" style="text-align: center; margin-top: 1em;"><strong>Welcome to the interTwin Dashboard!</strong></h1>
	<div class="buttonContainer">
		<a class="btn btn-dark btn-lg customButton" role="button" href="{{ url_for("iam.login") }}">Please login, or register &raquo;</a>
	</div>
</div>

<style>

.imgElem {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
    height: 25%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.buttonContainer {
	margin: 4em 0;
	width: 100%;
	display: flex;
    justify-content: center;
}

.customButton {
	background-color: #ef8200;
    border-color: #ef8200;
}

</style>

<script type="text/javascript">

if (!localStorage.DoNotShowGettingStartedMessageAgain || localStorage.DoNotShowGettingStartedMessageAgain != "true") {
	$(window).on('load',() => {
		$('#gettingStarted').modal('show');
	});

	$('#gettingStartedCheckbox').click(() => {
		if ($('#gettingStartedCheckbox').attr('checked', true)) {
			localStorage.DoNotShowGettingStartedMessageAgain = "true";
		}
	});
}

</script>

{% endblock %}